node_modules/

*.xml~
bower_components
*.swp
*.html~
*.js~
*.json~
*.md~
AngularJS _ Firebase CRUD App_files
AngularJS _ Firebase CRUD App-show_files
/AngularJS _ Firebase CRUD App.html
/AngularJS _ Firebase CRUD App-show.html
/peeps-old.html
